*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.sec2{
    background-color: rgb(33, 9, 55);
    height: auto;
    width: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
}

.carder{
    margin: 3px;
    height: 250px;
    width: 170px;
    background-color: white;
    
}
.post{
    height: 170px;
    width: 100%;
   background-image: url('img/romangam.jpg');
   background-size: cover;

}
.bottom-box{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 170, 255);
    
    height: 75px;
    margin: 2px;
    padding:13px;
    
}
.btn-post{
    border-radius: 6px;
    background: rgb(20, 20, 114);
    padding:7px;
}
.btn-post a{
    color: white;
    text-transform: capitalize;
   text-decoration: none;
}
.btn-post:hover{
    background: rgb(34, 34, 137);
}
.dad{
    height: 200px;
}
.works{
    height: 100px;
    width: 100%;
    background-color: rgba(7, 12, 32, 0.393);
    text-align: center;
    color: white;
    font-weight: 900;
}
.works h2{
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
html{
    scroll-behavior: smooth;
}
.post-img1{
    background-image: url('img/pic2.webp');
}
.post-img2{
    background-image: url('img/img3.webp');
}
.post-img3{
    background-image: url('img/img4.webp');
}
.post-img4{
    background-image: url('img/img6.webp');
}
.post-img5{
    background-image: url('img/img5.webp');
    
}
.post-img6{
    background-image: url('img/img7.webp');
}
.post-img7{
    background-image: url('img/img8.webp');
}
.post-img8{
    background-image: url('img/img9.webp');
}
.post-img9{
    background-image: url('img/img10.webp');
}
.post-img10{
    background-image: url('img/ing11.webp');
}
.post-img11{
    background-image: url('img/img12.webp');
}